<div class="container mt-5">
    <div *ngIf="!RegisterMode" class="text-align-center">
        <h1>Find Your Match</h1>
        <p>Come on you all .... sign up to view you matches ...</p>
        <div class="text-center">
            <button class="btn btn-primary btn-lg me-2" (click)="RegisterToggle()">Register</button>
            <button class="btn btn-primary btn-info btn-lg me-2">Learn More</button>
        </div>
    </div>
    <div *ngIf="RegisterMode" class="container">
        <div class="row justify-content-center">
            <!-- <input type="text" name="" id=""> -->
            <app-register  (cancelRegister)="CancelRegister($event)"></app-register>
        </div>
    </div>
</div>